:block(cars):elem(limit) {
    box-sizing: border-box;
    padding: 16px 0;

    .control-group {
        display: inline-block;
    }

    .button_theme_suzuki.button_view_action {
        background: rgba(153, 122, 0, 0.5);

        &:before {
            position: absolute;
            top: 1px;
            right: 0px;
            bottom: 1px;
            left: 1px;
            content: '';
            background: #ffeba0;
            display: inline-block;
        }
    }

    .button_theme_suzuki.button_view_action.button_hovered {
        background: rgba(129, 103, 0, 0.6);
    }

}