:block(form) {
    &:elem(row) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &:elem(col) {
        flex-grow: 1;
        flex-shrink: 1;
        margin-right: 16px;
        font-size: 0;

        &:mod(half) {
            width: calc(50% - 16px);
        }

        &:mod(third) {
            width: calc(100% / 3 - 16px);
        }

        &:last-child {
            margin-right: 0;
        }

        &:mod(content width) {
            flex-grow: 0;
        }
    }
}

@media (--small-only) {
   :block(form) {
        &:elem(col) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    } 
}