:block(form) {
    &:elem(row) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &:elem(col) {
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(100% / 3 - 16px);
        margin-right: 16px;

        &:mod(half) {
            width: calc(50% - 16px);
        }

        &:last-child {
            margin-right: 0;
        }
    }
}