.menu_mode_radio-check.select__menu {
    & .menu__item {
        box-sizing: border-box;
        padding: 0 13px 0 18px;
    }
}

:block(cars) {
    &:elem(sort) {
        box-sizing: border-box;
        padding: 16px 0;
    }
}

